<?php
/**
 * This file is copied to config.php by kick
 *
 * Placeholders (\%CONF_ENVNAME\%) are being replaced by the values found in environment.
 * See .kick.yml config_file section.
 *
 * Original file by kickstart-skel/php-app-base
 */


define("DEV_MODE", (bool)"%DEV_MODE%");
define("VERSION_INFO", "v0.1.%VERSION_NUMBER% (%VERSION_DATE_COMPACT%)");
define("GOOGLE_KEYFILE_PATH", "%GOOGLE_KEYFILE_PATH?/run/secrets/google_test%");
define("AZURE_KEYFILE_PATH", "%AZURE_KEYFILE_PATH?/run/secrets/azure%");

define("AWS_KEYFILE_PATH", "/run/secrets/aws");
